TELEGRAM_BOT_TOKEN=token_buraya
TELEGRAM_CHAT_ID=chat_id_buraya

GMAIL_CLIENT_ID="senin-client-id"
GMAIL_CLIENT_SECRET="senin-client-secret"
GMAIL_REFRESH_TOKEN="senin-refresh-token"
GMAIL_SENDER_ADDRESS="gonderici@gmail.com"